<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   	= "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id = "com.holeintheroof.wccctv"
		versionCode = "16"
		version     = "2.5.2">

	<gap:platform name="ios" />
	<gap:platform name="android" />

	<name>WCCC.TV</name>

	<description>
		Download the WCCC.TV mobile app to have featured videos available right from your mobile device.
		Learn more on our website: http://wccc.tv
	</description>

	<author href="http://apparatusagency.com" email="nate@apparatusagency.com">
		Apparatus Digital Creative Agency
	</author>

    <icon src="icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/icons/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="images/icons/Icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <icon src="images/icons/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="images/icons/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="images/icons/Icon-83.5@2x.png" gap:platform="ios" width="167" height="167" />
    <icon src="images/icons/Icon-Small-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="images/icons/Icon-Small-40@2x.png" gap:platform="ios" width="80" height="80" />
    <icon src="images/icons/Icon-Small-40@3x.png" gap:platform="ios" width="120" height="120" />
    <icon src="images/icons/Icon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="images/icons/Icon-Small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="images/icons/Icon-Small@3x.png" gap:platform="ios" width="87" height="87" />
    <icon src="images/icons/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/icons/Icon@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="images/icons/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="images/icons/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="images/icons/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="images/icons/Icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />
	<icon src="images/icons/icon-android.png" gap:platform="android" />

	<gap:splash src="splash.png" />
	<gap:splash src="images/startup/splash.png" width="320" height="460" />
	<gap:splash src="images/startup/startup-iphone-large.png" width="640" height="960" />
	<gap:splash src="images/startup/startup-iphone5-large.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="images/startup/startup-ipad-landscape.png" width="1024" height="768" />
	<gap:splash src="images/startup/startup-ipad-portrait.png" width="768" height="1004" />
	<gap:splash src="images/startup/startup-ipad-large-landscape.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="images/startup/startup-ipad-large-portrait.png" width="1536" height="2008" />

	<plugin name="cordova-plugin-whitelist" version="1" />

	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="stay-in-webview" value="false" />

	<allow-navigation href="*" />
	<allow-intent href="*" />
	<access origin="*" />

</widget>
