<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   	= "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id = "com.holeintheroof.wccctv2"
		versionCode = "8" 
		version     = "2.0">

	<gap:platform name="ios" />
	<gap:platform name="android" /> 

	<name>WCCC.TV</name>

	<description>
		Download the WCCC.TV mobile app to have featured videos available right from your smartphone or tablet.
		Learn more on our free web app: http://wccc.tv    
	</description>

	<author href="http://holeintheroof.com" email="nate@holeintheroof.com">
		Hole in the Roof Marketing, Inc.
	</author>
	
	<icon src="img/touch/icon-android.png" gap:platform="android" />
	<icon src="img/touch/icon-non-retina.png" gap:platform="ios" width="57" height="57" />
	<icon src="img/touch/icon-iphone-retina.png" gap:platform="ios" width="72" height="72" />
	<icon src="img/touch/icon-ipad-retina.png" gap:platform="ios" width="114" height="114" />
	<icon src="img/touch/Icon.png" gap:platform="ios" width="76" height="76" />
	<icon src="img/touch/Icon-Small@2x.png" gap:platform="ios" width="120" height="120" />
	<icon src="img/touch/Icon@2x.png" gap:platform="ios" width="152" height="152" />

	<gap:splash src="splash.png" />
	<gap:splash src="img/startup/splash.png" width="320" height="460" />
	<gap:splash src="img/startup/startup-iphone-large.png" width="640" height="960" />
	<gap:splash src="img/startup/startup-iphone5-large.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="img/startup/startup-ipad-landscape.png" width="1024" height="768" />
	<gap:splash src="img/startup/startup-ipad-portrait.png" width="768" height="1004" />
	<gap:splash src="img/startup/startup-ipad-large-landscape.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="img/startup/startup-ipad-large-portrait.png" width="1536" height="2008" />
	
	<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

	<preference name="phonegap-version" value="3.7.0" />
	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="stay-in-webview" value="false" />

	<access origin="*" />

</widget>